.block{
    width: 1000px;
    height: 800px;
    background-color: white;
    margin: 10px 250px;
}
.img{
    width: 200px;
    height: 200px;
}
/* .block{
    display: flex;
    justify-content: space-around;
    padding: 30px;
} */
.first-parent{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 30px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.line{
    text-decoration: line-through;
}
.click{
    padding: 10px 30px;
    background-color: rgb(218, 174, 0);
    
}
.second-parent{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 10px;
}